.work {
    padding: 10% 15%;
<<<<<<< HEAD
    width: 100%;
}
=======
 }
>>>>>>> 178441b (Initial commit)

 
.work-navbar {
    width: 100%;
}

 
.nav-menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    flex-wrap: nowrap;  
}

.nav-menu .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    white-space: nowrap; 
}

.nav-menu .nav-link.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}
 
<<<<<<< HEAD
/* معرض الصور */
.image-gallery {
=======
 .image-gallery {
>>>>>>> 178441b (Initial commit)
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .work-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

 .work-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    padding: 12px 0;
    transition: transform 0.3s ease-in-out;
}

 .work-image-container::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    background: rgba(0, 123, 255, 0.5); /* لون أزرق شفاف */
=======
    background: rgba(0, 123, 255, 0.5);  
>>>>>>> 178441b (Initial commit)
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

 .work-image-container:hover::after {
    opacity: 1;
}

 .work-image-container:hover .work-image {
    transform: scale(1.1);
}

 .show-more-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    height: auto;
    width:auto;
}

.show-more-btn:hover {
    background-color: #0056b3;
}

 @media (max-width: 768px) {
    .work {
        padding: 5%;
    }

    .nav-menu .nav-link {
        font-size: 14px;
        padding: 5px;
    }

    .work-image {
        max-height: 300px;
    }
}

@media (max-width: 576px) {
    .work-title {
        font-size: 10px;
    }

    .work-header {
        font-size: 16px;
    }

    .work-image {
        max-height: 250px;
    }
}

 .work-header {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    color: #000;
}

.work-title {
    margin-bottom: 15px;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
    letter-spacing: 5px;
}
